<link rel="stylesheet" href="/customConfirmation-styles.css">
<link rel="stylesheet" href="/master-styles.css">
<h1>Your Pizza</h1>

{{#if Pizza}}
<h3>Size: {{Pizza.size}}</h3>
<h3>Toppings:</h3>
    <ul>
        {{#each Pizza.toppings}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
<h3>Gluten free: {{Pizza.isGlutenFree}}</h3>
<h4>Special Instuctions:</h4>
<textarea id="instructions" name="instructions" rows="10" cols="33" placeholder="Nothng to see here, human.">{{Pizza.specialInstructions}}</textarea>
{{/if}}
<h3>Price: {{Pizza.price}}</h3>
<a href="/custom"><span>Build another</span></a>|<a href="/"><span>Back Home</span></a>







<a href="/">Home</a>